In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
df.shape

(145460, 23)

In [4]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [5]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [12]:
for column in df.columns:
    print(column,':',round(df[column].isnull().sum()/df.shape[0] * 100, ndigits=2),'% of missing values')

Date : 0.0 % of missing values
Location : 0.0 % of missing values
MinTemp : 1.02 % of missing values
MaxTemp : 0.87 % of missing values
Rainfall : 2.24 % of missing values
Evaporation : 43.17 % of missing values
Sunshine : 48.01 % of missing values
WindGustDir : 7.1 % of missing values
WindGustSpeed : 7.06 % of missing values
WindDir9am : 7.26 % of missing values
WindDir3pm : 2.91 % of missing values
WindSpeed9am : 1.21 % of missing values
WindSpeed3pm : 2.11 % of missing values
Humidity9am : 1.82 % of missing values
Humidity3pm : 3.1 % of missing values
Pressure9am : 10.36 % of missing values
Pressure3pm : 10.33 % of missing values
Cloud9am : 38.42 % of missing values
Cloud3pm : 40.81 % of missing values
Temp9am : 1.21 % of missing values
Temp3pm : 2.48 % of missing values
RainToday : 2.24 % of missing values
RainTomorrow : 2.25 % of missing values

- Removing the null values from the target variable('RainTomorrow') since every less percent records are only missing from the dataset.

In [22]:
df.dropna(subset = ['RainTomorrow'],axis=0,inplace=True)

In [23]:
for col in df.columns:
    print(col,':',df[col].nunique())

Date : 3436
Location : 49
MinTemp : 389
MaxTemp : 505
Rainfall : 679
Evaporation : 356
Sunshine : 145
WindGustDir : 16
WindGustSpeed : 67
WindDir9am : 16
WindDir3pm : 16
WindSpeed9am : 43
WindSpeed3pm : 44
Humidity9am : 101
Humidity3pm : 101
Pressure9am : 546
Pressure3pm : 549
Cloud9am : 10
Cloud3pm : 10
Temp9am : 440
Temp3pm : 500
RainToday : 2
RainTomorrow : 2

In [26]:
categorical_features = [feature for feature in df.columns if df[feature].nunique() < 20]
categorical_features

['WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'Cloud9am',
 'Cloud3pm',
 'RainToday',
 'RainTomorrow']

features which consits of less than 20 unique characters are considred as categorical features

In [27]:
numerical_features = [feature for feature in df.columns if df[feature].nunique() > 20]
numerical_features

['Date',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

features which consits of more than 20 unique characters are considred as Numerical features